@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}



h2 {
  text-align: center;
  font-size: 50px;
  color: rgb(240, 0, 0);
  border-radius: 12px;
  margin-top: -10px;

}

.car {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 28vw;
  height: 63vh;
  padding-bottom: 1rem;
  margin: 20px auto;
  background-color: rgb(135, 146, 153);
  border-radius: 30%;
  box-shadow: -1px -7px 86px -21px rgba(82, 81, 81, 0.86) inset;
  -webkit-box-shadow: -1px -7px 86px -21px rgba(82, 81, 81, 0.86) inset;
  -moz-box-shadow: -1px -7px 86px -21px rgba(82, 81, 81, 0.86) inset;
  border: 10px solid black;
}

.nothing {
  color: red;
  margin-top: 100px;
  font-size: 45px;
text-align: center;
text-shadow: 2px 2px black;
}

.car img {
  width: 17vw;
  height: 10vw;
  border-radius: 3px;
  border: 1px solid black;
  margin-top: 10px;

}

.car .title {
  margin: 0;
  letter-spacing: 2px;
  color: rgb(95, 94, 94);
  text-decoration: underline;
}

.details-btn {
  margin-top: 4px;
  text-decoration: none;
  font-size: 21px;
  width: 160px;
  border-radius: 3px;
  text-align: center;
  color: white;
  background: rgb(106, 14, 14);
}

.details-btn:hover {
  background: #e8e0e0;
  color: black;
  border: 1px solid black;
}

.specs {
  border: 1px solid black;
  padding: 0px 40px;
  border-radius: 5px;
}

.specs p {
  border-bottom: 1px dashed black;
}

.heading {
  color: white;
  text-align: center;
  font-size: 36px;
  text-shadow: 2px 2px black;
  letter-spacing: 4px;
margin: 0;
}